{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tasks for User {{ user_id }}</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}">
</head>
<body>
  <div class="main tutor">
    <div class="panel">
      <div class="section">
        <div class="row">
          <h1>Activities for User {{ user_id }}</h1>
        </div>
        <div class="section">
          <div class="section-gap"></div>
          <div class="row2">
            <form method="POST">
              {% csrf_token %}
              <table>
                <thead>
                  <tr>
                    <td>Completed</td>
                    <td>Activity</td>
                    <td>Comment</td>
                  </tr>
                </thead>
                <tbody>
                  {% for task in tasks %}
                    {% ifchanged task.day %}
                      <tr>
                        <td colspan="4" style="font-weight: bold; text-align: left;">Day {{ task.day }}</td>
                      </tr>
                    {% endifchanged %}
                    <tr>
                      <td style="text-align: center;">
                        <!-- Ensure the checkbox reflects the task's completed state -->
                        <input type="checkbox" name="task_{{ task.id }}" {% if task.completed %}checked{% endif %}>
                      </td>
                      <td style="text-align: left;">
                        {{ task.title }}
                      </td>
                      <td>
                        <input type="text" name="comment_{{ task.id }}" value="{{ task.comment }}" style="text-align: left;">
                      </td>
                    </tr>

                  {% endfor %}
                </tbody>
                <tfoot>            
                </tfoot>
              </table>
              <div class="section">
                <div class="section-gap"></div>
                  <button class="button1" type="submit">Update Tasks</button>
                </div>
              </div>
            </form>
          </div>

          <div class="section-gap"></div>
          <div class="section">
            <div>
              <form method="get">
                <input type="checkbox" id="hide-completed" name="hide_completed" value="true"
                  {% if hide_completed %}checked{% endif %} onchange="this.form.submit()">
                <label for="hide-completed">Hide completed tasks</label>
              </form>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</body>
</html>
